*{
	padding:0px;
	margin:0px;
	border: 0px none;
	outline: 0px none;
	vertical-align: baseline;
 
 background-repeat: no-repeat;
}


#Header{
	width: 100%;

}
img:hover{
	opacity: 0.9;
}
.clear:after{
	content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    position:relative;
}
li{
	list-style-type: none;
}
a{  
	color:black;
	text-decoration:none; 
}
a:hover{
	color:#CA4A6B;
	
}

a:link{
	color: rgb(34, 34, 34);
}
ul{
list-style-type:none;
}

#headermenu{
	position: relative;
	padding: 0px 10px 70px 0px;
	width: 940px;
	z-index: 20;
	margin: 0px auto;
	
}
.Logo{
	float: left;
	padding-top: 29px;
}

.right_{
	float: right;
	text-align: right
}

.wrap_{
	height: 20px;
}

.subcat{
	float: right;
	height: 20px;
}

.subcat ul{	
	border-radius: 0px 0px 3px 3px;
	
}
.subcat a{
	text-decoration: none;
	font-size: 10px;
	font-weight: 100;
	color:#EEEEEE;
}
.subcat ul li{
    padding: 0px 16px;
    height:20px;
    background:#575757;
    float: left;
}
.subcat ul  li:first-child {
    border-left: medium none;
    border-radius: 0px 0px 0px 3px;
}
.subcat ul li:last-child{
	border-right: medium none;
    border-radius: 0px 0px 3px 0px;
}
.right_nav2{
	position: relative;
	z-index: 200;
}

.right_nav2 .content_{
	top: 20px;
	background:#575757;
	text-align: left;
	z-index: 200;
	min-width: 100%;
	border-radius: 0px 0px 3px 3px;
	position: absolute;
}

.right_nav2 .content_ li{
	display: block;
	padding:0px;
	
	
}
.func_{
	margin-top: 20px;
}

.right_ .func_ li{
	margin-left: 14px;
	position: relative;
	float:right;
}

.Search input{
	height: 28px;
	line-height: 28px;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 3px 0px 0px 3px;
	background: none repeat scroll 0% 0% rgb(240, 240, 240);
	padding: 0px 10px;
	margin: 0px;
	display: block;
	float: left
}

.Search button{
	background: url("../images/icon_search.png") no-repeat scroll center center rgb(240, 240, 240);
	width: 45px;
	height: 30px;
	border-width: 1px 1px 1px medium;
	border-style: solid solid solid none;
	border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(204, 204, 204) -moz-use-text-color;
	margin: 0px;
	padding: 0px;
	border-radius: 0px 3px 3px 0px;
	display: block;
	float: left;
	cursor: pointer;
}
.shopping .wrap_{
	width: 80px;
	height: 25px;
	border:2px solid;
	border-radius:10px;
}

.wrap_ dl dt{
	float:left;
}
.wrap_ dl dd{
	float:right;
}

.content_{
	position: absolute;
	display: none;
	right: -10px;
	padding:0px 10px;
	text-align:left;
	z-index: 200;
	min-width: 100%;

}
.Collection a{
	text-decoration: none;
	font-style: italic;	
	font-size:12px;
}

.Collection .content_ li:first-child{
	border-top:medium none;
}
.Collection .btn_{
	border-radius: 3px 3px 3px 3px;
	padding:0px 12px;
	background:#2D354A;
	height: 30px;
}

.Collection a{
	text-decoration: none;	
	line-height:33px;
}
.member-icon_{
	margin-left: 5px;
}
.Collection a .member-icon_{
	display: inline;
	vertical-align: middle;
}
.Collection a img{
	vertical-align: middle;
	display: inline;
}
.Collection .content_{
	 position: absolute;
	 background:red;
	border-radius: 3px 3px 3px 3px;
	min-width: 150px;
	overflow: hidden;
	display: none;
	background:#C4C4C4;
}
.Collection .content_ li{
	border-top: 1px solid rgb(240, 240, 240);
	float: none;
	margin: 0px;
	text-align: center;
	min-width: 150px;
	height: 40px;
	line-height: 40px;
}
.shopping .btn_{
	overflow: hidden;
}
.shopping a{
	border-radius: 4px 4px 4px 4px;
	width: 70px;
	height: 30px;
	float: left;
	position: relative;
	z-index: 2;
	display: block;
	background: none repeat scroll 0% 0% rgb(68, 68, 68);
}

.shopping a img{
	padding: 6px 30px 0px 24px;
}

.shopping span{
	font-size: 16px;
	height: 28px;
	float: left;
	padding: 0px 10px 0px 12px;
	line-height: 30px;
	border-radius: 0px 3px 3px 0px;
	display: block;
	color: rgb(34, 34, 34);
	margin-left: -3px;
	border: 1px solid rgb(171, 171, 171);
}
.daohang{
	width:100%;
}
.daohang .nav{
	width: 100%;
	position: relative;/*相对位置*/
	border-top: 1px solid rgb(221, 221, 221);
	margin-top: 30px;
}

.daohang .item{
	width:33.3333%;
	height:50px;
	float:left;
	display: table;
	position: relative;/*相对位置*/
}
.daohang .item  a{
	height: 50px;
	text-align: center;
	width: 100%;
	display:table-cell;
	vertical-align: middle;
	text-decoration: none;
	font-size: 14px;
	font-style: italic;
	border-left: 1px solid rgb(221, 221, 221);
}

.fashion{
	border-bottom:3px solid #e17f98;
	

}
.fashion ul li:hover{
	background:#ca4a6b;
}
.fashion ul li{
	background:#d26883;
}
.maison{
	border-bottom:3px solid #5b6878;	 
}
.maison ul li:hover{
	background:#898176;
}
.maison ul li{
	background:#b6b1ab;
}
.gift{
	border-bottom:3px solid #b7afac;
	
}
.gift ul li:hover{
	background:#2d354a;
}

.gift ul li{
	background:#5a6777;
}


.navigation{
	position: relative;/*相对位置*/
	z-index: 11;
}
.shang{
	top:51px;
}
.navigation .content_ a{
	display: block;
	color: rgb(240, 240, 240);
	font-size: 12px;
	text-align: left;
	height: auto;
	border: medium none;/*不显示边框;*/
	   
}
.content_ li a img{
	margin:10px;
	vertical-align: middle;
	display: inline;
	
}
.pikachoose{
    width:920px;
    height:320px;
    position: relative;
	border: 10px solid #ccc;
	overflow: hidden;
	float:left;
	
}
#pikame{
	overflow: hidden;
	width: 100%;
    position: relative;
}

#pikame li{
	float: left;
	position: relative;
	
}
.Feature{	
	width:940px;
	margin:0 auto;
	font-size:12px;
}
.left_feature{
	float:left;
	padding-bottom:30px;
}
.right_news{
	float:right;
	
}
.quan{
	border-top: 1px #C4C4C4 solid;
}
.head_{
	margin:30px 0px 20px 0px;
	font-size:30px;
	font-style:italic;

}
.fk{
	background:#333;
	height: 20px;
	text-align: center;
}
.rank1{
	border-bottom:1px solid #c7c6c5;
	
}
.thumb_{
	position: relative;
	font-size: 70px;
	color:#333;
	font-weight: 600;
	line-height: 1;
	
}
.size{
	width:80px;
	
}
.money{
	font-size: 15px;
	padding:20px 0px 20px 20px;
}
.thumb_ img{
	max-height:90px;;	
	padding:20px 0px 0px 0px;
}
.product_infos{
	overflow: hidden;
    position: relative;
    width: 100%;
    padding-top:90px;
}

.digital{
	margin: 0px 16px;
	overflow: hidden;
	color: rgb(153, 153, 153);
	line-height: 21px;font-size: 14px;
}
.digital li{
	float: left;
	padding: 0px 10px;
	cursor: pointer;
}
.digital .active_{
	color: rgb(34, 34, 34);
} 

/*滑动*/
.qu{
	position:relative;
	width:100%;
	border-bottom: 1px solid rgb(221, 221, 221);
	padding-bottom: 10px;
}
.qu ul li{
	float:left;
	width:33.3333%;
	position:relative;
	overflow:hidden;
}

.yi{	
		position:relative;
		width:100%; 
}
.slide0 ul{overflow: hidden;}


.ab,.cd{
	width:2535px;
	
}

.yi3{
	width:100%;
	height:440px;
	float:left;
	overflow: hidden;
	
}
.font{
	width:100%;
	height:70px;
	float:left;
	overflow: hidden;
}
.font ul li{
	overflow:hidden;
	width:506px;
	position: relative;
	float:left;
}

.Lefthuad{
	width:100%;	
	float:left;
	overflow: hidden;
	position: relative;
	
}
.pointer_{
	background: none repeat scroll 0% 0% rgb(249, 95, 135);
opacity: 0.5;
}

.pointer_{
	width: 20%;
	height: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 5;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	display: table-cell;
	
}
.font ul{
	overflow: hidden;
}
.bc{
	width: 1320px;	
}
.bc img{
	max-width:200px;
	max-height:100px;
}
.Lefthuad ul li{
	overflow:hidden;
	width:101px;	
	position: relative;
	float:left;
	height: 100px;
}
.yi3 ul li{
	overflow:hidden;
	width:506px;;
	height:440px;
	position: relative;
	float:left;
}



.us ul li{
	float: left;
	padding-left:50px;
}
.us a:hover{
	opacity: 0.5;
	color:#333333;
}
/*版权*/
.copyright{
	width: 940px;
	margin:0 auto;
	padding-top:50px;
}
.juz_{
	float: left;
	width:220px;
	color:#666;
	line-height:20px;
	font-size: 12px;
}
.juz_ a{
	color: #898176;
}
.juz_ h2{
	padding-bottom:20px;
	font-size: 18px;
	color: #575757;
}
.gezi li{
	float:left; padding-right:40px;
}
.page{
	font-style: italic;
	text-align: center;
	line-height: 30px;
	border-radius: 0px 0px 5px 5px;
	font-size: 11px;
	width: 60px;
	height:30px;
	display: block;
	float: right;
	background: none repeat scroll 0% 0% rgb(68, 68, 68);
	color: rgb(240, 240, 240);
}
.pages_{
	margin: 0px 16px;
	overflow: hidden;
	color: rgb(153, 153, 153);
	line-height: 21px;
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
}
.calendar{
	color:#898176;
}	
.pages_ li{
	float: left; padding:10px;	
}
/*页面2 fashion*/
.page_wrapper, .footer_brandlist{
	width:940px;
	margin:0px auto;
	padding:70px ;
}

.page_title{
	background: none repeat scroll 0% 0% rgb(226, 226, 226);
	border-radius: 3px 3px 3px 3px;
	height:30px;
	position: relative;
}
.caticon{
	background:#CA4A6B;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	border-radius: 3px 0px 0px 3px;
} 
.page_title ul li{
	float:left;
	line-height:30px;
}
.contents_main{
	padding-top:30px;
	position: relative;
}
.left_contents{
	float:left;
	width:200px;
}

.left_contents li{
	line-height: 35px;
    font-size: 14px;
   
}
.fashion_{
	 background:url(../images/catnavi-icon-fashion.png);
	 background-repeat:no-repeat;
	
}
.fashion_ p{
	color: rgb(249, 95, 135);
	border-bottom: 1px solid rgb(249, 95, 135);
}
.catNav li{
	 line-height: 35px;
    font-size: 14px;
    font-style: italic;
}
.fashion_ span, .home_ span, .gift_  span{
	padding-left:35px;	
}
.cat_list{
	margin:25px 0px 25px;
	transition: all 1s ease-out 0s;
	margin-bottom: 25px;	
}
.cat_list h2{	
	 background-repeat:no-repeat;
	height:50px;
}
.cat_list h2 a{	
	padding-bottom: 20px;
}
.cat_list ul li,.gift_ .cat_list ul li{
	margin-left:60px;
 	color:#898176;
 	margin-top:-8px; 	
	font-weight:bold;
 	
}
.left_contents .catNav li p span{
	display: block;
}

.catNav li p span{
    display: block;
}
.home_{
	 background:url("../images/catnavi-icon-maison.png");
	 background-repeat:no-repeat;
}
.home_ p{
	color:#5B6878;
	border-bottom: 1px solid #5A6777;
	
}
.home_ h2, .gift_ h2{
	padding-bottom:20px;
}
.gift_{
	background:url("../images/catnavi-icon-gift.png");
	 background-repeat:no-repeat;
}
.gift_ p{
	color:#575757;
	border-bottom: 1px solid #5A6777;
	
}
.search_title{
	background:url("../images/icon_search.png");
	 background-repeat:no-repeat;
	 padding:0px 0px 15px 20px;;
	 line-height: 15px;
	 border-bottom: 1px solid #2D354A;
}
.search_subtitle{
	margin:20px 0px 0px;
}
.search_table{
	width:100%;	
}
tbody{
	border-collapse: collapse;
	border-spacing: 0px;
}

.search_keyword{
	width: 130px;
	border:1px solid #B7AFAC;
}
input{
	font-size: 1em;
	font-family: Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif
}

.right_button{
	text-align: right;
}
.search_price{
	width:40px;
	border:1px solid #B7AFAC;
	
}
.scarch_color span{
 	display:block;
 	width:20px;
 	height:0px;
 	padding:20px 0px 0px;
 	margin:0px 0px 0px 10px;
 	border-radius:  20px 20px 20px 20px;/*圆角	边框*/
 	
}

.scarch_color p{
	display: block;
	width: 40px;
	float: left;
	font-size: 9px;
	margin: 5px 0px 0px;
	padding: 5px 0px 0px;
	text-align: center;
/*字体*/	font-family: "ＭＳ Ｐゴシック",Osaka,"ヒラギノ角ゴ Pro W3";
}
.right_contents{
	width:700px;
	float:right;
}
.product_head{
	margin:0px 0px 30px;
}
.product_head h1{
	float: left;
	font-size: 40px;
	font-style:italic;
	padding-left:30px;
}

.filter{
	font-size: 12px;
	color:#898176;
	display:block;
	margin:0px 0px 3px 10px;
}

.products_{
	margin-left: -20px;
	width: 720px;
}
.products_ .item_count{
	line-height: 30px;
	font-size: 11px;
	font-style: italic;
	color: rgb(85, 85, 85);
	margin-right: 10px;
	position: absolute;
	right: 0px;
	top: -30px;
}
input,select{
	vertical-align: middle;
	margin-left:10px;
}
.producte_index{
	width:100%;
	
}
.filters_{
	float: right;
}

.preview{
	margin:0px 0px 60px 20px;


}
.producte_index .product_thumb img{
	width:100%;
	height: auto;

}
.preview .product_thumb{
	width: 220px;
	padding-top:3px;
	background: none repeat scroll 0% 0% rgb(249, 95, 135);
}
#home2 li .product_thumb{
	background:#3b465d;
}
#gift3 li .product_thumb{
	background:#a49e96;
}
.product_colors{
	background: url("../images/cate_coloricon_title.png") no-repeat scroll left top transparent;
	padding-left: 35px;
	margin:12px 0px 0px -2px; 
	overflow: hidden;
	
}
.product_colors li{
	display: block;
	margin: 0px 2px;
	float: left;
	width: 10px;
	height: 0px;
	padding: 10px 0px 0px;
	overflow: hidden;
	border-radius: 10px 10px 10px 10px;
	
}
#piclist2 .product_colors{
	overflow: hidden;
	margin: 12px 0px 0px -2px;
}


.products_ .producte_index li {
	float:left;
}
.page_navi{
	border-top:1px solid #898176;
	margin-top:20px;
	overflow: hidden;
	border-bottom:1px solid #2D354A;
}
.paging{
	overflow: hidden;
	text-align: center;
}

.paging ul li{
	display: inline-block;
	padding-left:20px;
	cursor: pointer;
}
.CategoryStyleL_ .name{
	margin: 4px;
	font-weight: bold;
	white-space: nowrap;
}
.head_small{
	background: none repeat scroll 0% 0% rgb(226, 226, 226);
	font-weight: normal;
	line-height: 30px;
	padding: 0px 10px;
	border-radius: 3px 3px 3px 3px;
	margin-bottom: 20px;
	color: rgb(68, 68, 68);
}
.brand_list{
	width:235px;
	float: left;
}
.brand_title{
	font-size: 20px;
	border-bottom: 1px solid #B6B1AB;
	margin:10px 20px 0px 0px;
	
}
.brand_list li a{
	color:#898176;
	line-height:25px;
}
.native {
            margin: 35px;
            position: relative;
            width: 460px;
   
            padding: 0px;
        	 float:left;
}


.font ul li .product_colors li{
	float: left;
	width: 10px;
	height: 0px;
	padding: 10px 0px 0px;
	overflow: hidden;
	border-radius: 10px 10px 10px 10px;
	background: none repeat scroll 0% 0% grey;
	display: block;
	margin: 0px 2px;
}
.samll{
	width:354px;
	height:354px;
	display:block;
}
.producte_index li{
	position:relative;

}
.large{
			width: 100px;
            height: 100px;
            border-radius: 50%;
            position: absolute;
            box-shadow: inset 0 0 0 5px #b6ff00;
            display: none;
}
















