html { font-size: 12px; font-family: sans-serif 'Microsoft Yahei'; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; }

ol, ul { margin: 0; padding: 0; }

.header:hover { -webkit-transition: all .3s ease-out; transition: all .3s ease-out; }

.container { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #333; }

.header { height: 100px; width: 96%; margin: 0 auto; border: 2px solid #dcdcdd; border-radius: 4px; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.75); -webkit-transition: all .3s; transition: all .3s; }

.header:hover { box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75); -webkit-transition: all .3s; transition: all .3s; }

.body { position: absolute; top: 110px; left: 2%; right: 2%; bottom: 2px; border: 2px solid #dcdcdd; border-radius: 4px; box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.75); }

.menu-tree { position: relative; float: left; width: 240px; height: 100%; background: #555; z-index: 2; }

.m-title { height: 40px; line-height: 40px; background: #555; margin: 0; color: #fff; text-align: center; }

.m-content { position: absolute; top: 0; left: 0; bottom: 0; right: 0; position: absolute; top: 40px; background: #fff; overflow: auto; }
.m-content .tree { margin: 0; padding: 0; }
.m-content .tree li { list-style: none; line-height: 34px; }
.m-content .tree li a { text-decoration: none; display: inline-block; width: 100%; color: #000; }
.m-content .tree li a:hover { background: #ccc; color: #fff; }
.m-content .tree li a:hover .icon-doc { background: #fff; }
.m-content .tree li a:hover .n-content { -webkit-transition: margin .3s; transition: margin .3s; margin-left: 5px; }
.m-content .tree li a.active { background: #889; color: #fff; }
.m-content .tree li a.active .icon-doc { background: #fff; }

.tree-child { margin-left: 20px; }

.icon { line-height: 0; margin: 0; width: 16px; height: 16px; display: inline-block; vertical-align: middle; border: 0 none; cursor: pointer; outline: none; background-color: transparent; background-repeat: no-repeat; background-attachment: scroll; background-image: url("res/icon.png"); }

.icon-open { margin: 5px 2px 0 10px; background-position: 0 -92px; vertical-align: top; float: left; }

.icon-close { margin: 5px 2px 0 10px; background-position: -44px -92px; vertical-align: top; float: left; }

.icon-doc { margin: 15px 5px 0 10px; background: #ccc; width: 5px; height: 5px; float: left; }

.n-content { line-height: 16px; margin-right: 2px; word-wrap: break-word; word-break: break-all; -webkit-transition: margin .3s; transition: margin .3s; }

.main { position: relative; height: 100%; }

.wrap-hot-img { position: relative; height: 100%; overflow: hidden; }
.wrap-hot-img .hot-img { position: absolute; top: 0; left: 0; bottom: 0; right: 0; }

.content-list { float: right; position: relative; height: 100%; width: 600px; background: #fff; }

.tb-thead { width: 100%; table-layout: fixed; border-collapse: collapse; background: #555; color: #fff; line-height: 40px; text-align: center; }
.tb-thead th { padding: 0; }

.inner-tb { position: absolute; top: 40px; left: 0; right: 0; bottom: 0; overflow: auto; }
.inner-tb table { width: 100%; table-layout: fixed; border-collapse: collapse; }
.inner-tb table tr:hover { background: #ccc; color: #fff; cursor: pointer; }
.inner-tb table tr.active { background: #889; color: #fff; }
.inner-tb table td { border-bottom: 1px solid #ddd; text-align: center; }

.btn { display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation; touch-action: manipulation; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; }

.btn-primary { color: #fff; background-color: #337ab7; border-color: #2e6da4; }

.btn-primary:focus, .btn-primary.focus { color: #fff; background-color: #286090; border-color: #122b40; }

.btn-primary:hover { color: #fff; background-color: #286090; border-color: #204d74; }

#info { color: #fff; position: absolute; top: 10px; width: 100%; text-align: center; z-index: 100; display: block; }

#info a, .button { color: #f00; font-weight: bold; text-decoration: underline; cursor: pointer; }

.fixed { position: absolute; top: 0; left: 0; background: #000; z-index: 1000; width: 100%; line-height: 40px; text-align: center; }
